n8n-workflows/sav-ecommerce-demo.json
{
  "name": "SAV E-commerce Demo - Actero",
  "nodes": [
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-2222-4000-8000-000000000002",
      "name": "Générer événements SAV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "// Génère 1-3 événements SAV e-commerce réalistes\nconst CLIENT_ID = '11366295-d394-486a-8fae-25e25207f83e';\n\nfunction randomInt(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nfunction randomOrderId() {\n  return '#CMD-' + randomInt(1000, 9999);\n}\n\nfunction generateEvent() {\n  const rand = Math.random();\n  let event;\n\n  if (rand < 0.15) {\n    // ticket_resolved - order_tracking (15%)\n    event = {\n      client_id: CLIENT_ID,\n      event_category: 'ticket_resolved',\n      ticket_type: 'order_tracking',\n      time_saved_seconds: randomInt(180, 420),\n      revenue_amount: 0,\n      metadata: { order_id: randomOrderId() },\n    };\n  } else if (rand < 0.28) {\n    // ticket_resolved - address_change (13%)\n    event = {\n      client_id: CLIENT_ID,\n      event_category: 'ticket_resolved',\n      ticket_type: 'address_change',\n      time_saved_seconds: randomInt(120, 300),\n      revenue_amount: 0,\n      metadata: { order_id: randomOrderId() },\n    };\n  } else if (rand < 0.40) {\n    // ticket_resolved - return_exchange (12%)\n    event = {\n      client_id: CLIENT_ID,\n      event_category: 'ticket_resolved',\n      ticket_type: 'return_exchange',\n      time_saved_seconds: randomInt(300, 600),\n      revenue_amount: 0,\n      metadata: { order_id: randomOrderId() },\n    };\n  } else if (rand < 0.50) {\n    // ticket_resolved - product_info (10%)\n    event = {\n      client_id: CLIENT_ID,\n      event_category: 'ticket_resolved',\n      ticket_type: 'product_info',\n      time_saved_seconds: randomInt(60, 180),\n      revenue_amount: 0,\n      metadata: {},\n    };\n  } else if (rand < 0.60) {\n    // ticket_escalated (10%)\n    const reasons = [\n      'Demande remboursement complexe',\n      'Client VIP mécontent',\n      'Litige transporteur',\n      'Produit défectueux multiple',\n    ];\n    event = {\n      client_id: CLIENT_ID,\n      event_category: 'ticket_escalated',\n      ticket_type: null,\n      time_saved_seconds: 0,\n      revenue_amount: 0,\n      metadata: { reason: reasons[randomInt(0, reasons.length - 1)] },\n    };\n  } else if (rand < 0.85) {\n    // cart_email_sent (25%)\n    const cartValue = randomInt(45, 350);\n    event = {\n      client_id: CLIENT_ID,\n      event_category: 'cart_email_sent',\n      ticket_type: null,\n      time_saved_seconds: 0,\n      revenue_amount: 0,\n      metadata: { cart_value: cartValue, email: 'demo@client.com' },\n    };\n  } else {\n    // cart_recovered (15%)\n    const amount = randomInt(45, 280);\n    event = {\n      client_id: CLIENT_ID,\n      event_category: 'cart_recovered',\n      ticket_type: null,\n      time_saved_seconds: 0,\n      revenue_amount: amount,\n      metadata: { cart_value: amount },\n    };\n  }\n\n  event.created_at = new Date().toISOString();\n  return event;\n}\n\n// Générer 1 à 3 événements\nconst count = randomInt(1, 3);\nconst events = [];\nfor (let i = 0; i < count; i++) {\n  events.push(generateEvent());\n}\n\nreturn [{ json: { events } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "a1b2c3d4-3333-4000-8000-000000000003",
      "name": "Insérer événements Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://ywawqisetanfbieuxpfr.supabase.co/rest/v1/automation_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3YXdxaXNldGFuZmJpZXV4cGZyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODE3ODcxMiwiZXhwIjoyMDYzNzU0NzEyfQ.SNqGddMb3Uo5BExjzpCBBMlP7MH1oBqFOVhVWUkPw0o"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3YXdxaXNldGFuZmJpZXV4cGZyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODE3ODcxMiwiZXhwIjoyMDYzNzU0NzEyfQ.SNqGddMb3Uo5BExjzpCBBMlP7MH1oBqFOVhVWUkPw0o"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.events) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-4444-4000-8000-000000000004",
      "name": "Calculer métriques du jour",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "// Récupère les événements insérés (retournés par Supabase)\nconst insertedEvents = $input.all().map(item => item.json);\n\n// Aplatir si c'est un tableau de tableaux\nconst events = Array.isArray(insertedEvents[0]) ? insertedEvents[0] : insertedEvents;\n\nconst CLIENT_ID = '11366295-d394-486a-8fae-25e25207f83e';\nconst today = new Date().toISOString().split('T')[0]; // YYYY-MM-DD\n\n// Agréger les métriques du batch actuel\nlet ticketsTotal = 0;\nlet ticketsAuto = 0;\nlet totalTimeSaved = 0;\nlet totalRevenue = 0;\nlet totalTasks = events.length;\n\nfor (const evt of events) {\n  if (evt.event_category === 'ticket_resolved') {\n    ticketsTotal++;\n    ticketsAuto++;\n    totalTimeSaved += (evt.time_saved_seconds || 0);\n  } else if (evt.event_category === 'ticket_escalated') {\n    ticketsTotal++;\n  }\n  \n  if (evt.event_category === 'cart_recovered') {\n    totalRevenue += (evt.revenue_amount || 0);\n  }\n}\n\nconst hoursSaved = totalTimeSaved / 3600;\nconst timeSavedMinutes = totalTimeSaved / 60;\nconst estimatedRoi = totalRevenue + (hoursSaved * 25);\n\nreturn [{\n  json: {\n    client_id: CLIENT_ID,\n    date: today,\n    tickets_total: ticketsTotal,\n    tickets_auto: ticketsAuto,\n    hours_saved: Math.round(hoursSaved * 100) / 100,\n    revenue_recovered: totalRevenue,\n    tasks_executed: totalTasks,\n    time_saved_minutes: Math.round(timeSavedMinutes * 100) / 100,\n    estimated_roi: Math.round(estimatedRoi * 100) / 100,\n    active_automations: 3\n  }\n}];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "a1b2c3d4-5555-4000-8000-000000000005",
      "name": "Récupérer métriques existantes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://ywawqisetanfbieuxpfr.supabase.co/rest/v1/metrics_daily?client_id=eq.11366295-d394-486a-8fae-25e25207f83e&date=eq.{{ $json.date }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3YXdxaXNldGFuZmJpZXV4cGZyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODE3ODcxMiwiZXhwIjoyMDYzNzU0NzEyfQ.SNqGddMb3Uo5BExjzpCBBMlP7MH1oBqFOVhVWUkPw0o"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3YXdxaXNldGFuZmJpZXV4cGZyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODE3ODcxMiwiZXhwIjoyMDYzNzU0NzEyfQ.SNqGddMb3Uo5BExjzpCBBMlP7MH1oBqFOVhVWUkPw0o"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6666-4000-8000-000000000006",
      "name": "Fusionner avec existant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "jsCode": "// Récupère les métriques calculées du batch (passées via le node précédent)\n// et les métriques existantes du jour (si elles existent)\nconst currentItems = $input.all();\nconst existing = currentItems[0]?.json;\n\n// Les métriques du batch sont stockées dans le contexte du workflow\n// On les récupère via $('Calculer métriques du jour')\nconst batchMetrics = $('Calculer métriques du jour').first().json;\n\nconst CLIENT_ID = '11366295-d394-486a-8fae-25e25207f83e';\nconst today = new Date().toISOString().split('T')[0];\n\n// Si des métriques existent déjà pour aujourd'hui, additionner\nlet merged;\nif (existing && existing.client_id) {\n  merged = {\n    client_id: CLIENT_ID,\n    date: today,\n    tickets_total: (existing.tickets_total || 0) + batchMetrics.tickets_total,\n    tickets_auto: (existing.tickets_auto || 0) + batchMetrics.tickets_auto,\n    hours_saved: Math.round(((existing.hours_saved || 0) + batchMetrics.hours_saved) * 100) / 100,\n    revenue_recovered: (existing.revenue_recovered || 0) + batchMetrics.revenue_recovered,\n    tasks_executed: (existing.tasks_executed || 0) + batchMetrics.tasks_executed,\n    time_saved_minutes: Math.round(((existing.time_saved_minutes || 0) + batchMetrics.time_saved_minutes) * 100) / 100,\n    estimated_roi: Math.round(((existing.estimated_roi || 0) + batchMetrics.estimated_roi) * 100) / 100,\n    active_automations: 3\n  };\n} else {\n  merged = batchMetrics;\n}\n\nreturn [{ json: merged }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "a1b2c3d4-7777-4000-8000-000000000007",
      "name": "Upsert métriques Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://ywawqisetanfbieuxpfr.supabase.co/rest/v1/metrics_daily",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3YXdxaXNldGFuZmJpZXV4cGZyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODE3ODcxMiwiZXhwIjoyMDYzNzU0NzEyfQ.SNqGddMb3Uo5BExjzpCBBMlP7MH1oBqFOVhVWUkPw0o"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3YXdxaXNldGFuZmJpZXV4cGZyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODE3ODcxMiwiZXhwIjoyMDYzNzU0NzEyfQ.SNqGddMb3Uo5BExjzpCBBMlP7MH1oBqFOVhVWUkPw0o"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([$json]) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Générer événements SAV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer événements SAV": {
      "main": [
        [
          {
            "node": "Insérer événements Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insérer événements Supabase": {
      "main": [
        [
          {
            "node": "Calculer métriques du jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculer métriques du jour": {
      "main": [
        [
          {
            "node": "Récupérer métriques existantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer métriques existantes": {
      "main": [
        [
          {
            "node": "Fusionner avec existant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionner avec existant": {
      "main": [
        [
          {
            "node": "Upsert métriques Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}